.wrapper{
    height: 600px;
    width: 840px;
    border: 2px solid black;
    background-color: pink;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;

}


.container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 550px;
    width: 800px;
    border: 2px solid green;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
figcaption{
    height: 500px;
    width: 400px;
}
figcaption img{
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

.box{
    /* border: 1px solid brown; */
    /* width: 49.7%; */
    flex-grow: 1;
}

pre {
    color: green;
}

pre span {
    color: black;
}

.box2{
    display: flex;
    border: 1px solid green;
    background-color: green;
    height: 40px;
    width: 300px;
    align-items: center;
    justify-content: center;
}